@import "tailwindcss";

/* Custom Tailwind v4 Configuration */
@theme {
  /* You can name these whatever you want, and use them as classes: bg-brand-primary, text-brand-secondary */
  --color-brand-primary: #10b981; 
  --color-brand-secondary: #047857; 
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: var(--color-gray-50);
}